<div class="home-welcome text-center">
    <h1>Welcome to Agricultural Ministers Mingle</h1>
   
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
      <div class="well home-well home-well-signup">
        <h2 class="text-center">Sign up</h2>
        <h3>Please just pretend as if there is a form here.</h3>      </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
          <div class="well">
              <h2 class="text-center">Login</h2>
              <h3>Please just pretend as if there is a form here.</h3>
          </div>
  </div>
</div>