<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>You have received a message from the site's contact form, from
    <i class="fa fa-trash fa-spin"></i> 
    <i class="fa fa-trash fa-spin"></i> 
    <i class="fa fa-trash fa-spin"></i> 
    <%= "#{ @name }, #{ @email }." %></p>
    <p><%= @body %></p>
  </body>
</html>