/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

$right-gradient: #531F9E;
$left-gradient: #260851;

h1,
h2,
h3 {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background: #260851;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $left-gradient, $right-gradient);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $left-gradient, $right-gradient);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
//The logo in the top right of the screen
.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

//Used for the button that appears on in the navbar on smaller screens, such as mobile devices.
.navbar-default .navbar-toggle {
    border: 2px solid white;
    &.icon-bar {
        background-color: white;
    }
    &:hover,
     :focus {
        background-color: $right-gradient;
    }
}

.navbar {
    border: none;
}
.navbar-default .navbar-nav li .navbar-link,
.navbar-default .navbar-brand {
    color: white;
    &:hover {
        color: white;
        opacity: 0.75;
    }
}
.form-control:focus {
    border-color: $right-gradient;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(187, 102, 233, 0.6);
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 5px auto $right-gradient;
}